@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
body.light {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: #121212;
    color: white;
  }
  
  /* Example for other elements */
  .header.light {
    background-color: white;
    color: black;
  }
  
  .header.dark {
    background-color: #121212;
    color: white;
  }
  
  /* Tailwind CSS Example */
  .light .header {
    @apply bg-white text-black;
  }
  
  .dark .header {
    @apply bg-gray-900 text-white;
  }
  